<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
<h1>Albums</h1>
{{#each albumList}}
    <p>{{artistName}}</p>
    <p>{{albumName}}</p>
    <image src="{{imageUrl}}"></image>
{{/each}}
</div>
</body>