{{#> layout}}
    {{#*inline "content"}}
        <h1>Albums</h1>
        <div class="albums">
            {{#each albumList}}
                <div class="album">
                <img src="{{imageUrl}}" alt="Album's photo"/>
                <p>{{artistName}}</p>
                <p>{{albumName}}</p>
                <button id="likeButton"><a href="/like/{{id}}">like</a></button>

                </div>
            {{/each}}
        </div>
    {{/inline}}
{{/layout}}