{{#> layout}}
    {{#*inline "content"}}
        <div class="navbar-links">
        </div>
        <div>
            <h1>Albums</h1>
            {{#each albumList}}
                <p>{{artistName}}</p>
                <p>{{albumName}}</p>
                <image src="{{imageUrl}}"></image>
                <button><a href="/like/{{id}}">like</a></button>

            {{/each}}
        </div>
        </body>
    {{/inline}}
{{/layout}}