{{#> layout}}
    {{#*inline "content"}}
        <h1>{{text}}</h1>
        <div class="text">
    <h2>Text 1</h2>
        </div>
        <div>
        {{#each mostPopularAlbums}}
           <p> {{albumName}}</p>
        {{/each}}
        </div>
    {{/inline}}
{{/layout}}