{{#> layout}}
    {{#*inline "content"}}
    <div class="container">
        <form action="/sessions/" method="post" >
            <input type="text" name="email">
            <input type="password" name="password">
            <input type="submit" name="submit">
        </form>
    </div>
    {{/inline}}
{{/ layout}}