{{#> layout}}
    {{#*inline "content"}}

<div id = "profileCard">
    <img src="{{currentUser.profilePicture}}" alt="...">
    <p>Hello {{currentUser.username}}</p>
</div>

    {{/inline}}
{{/layout}}