{{#> layout}}
    {{#*inline "content"}}
        <div>{{message}}</div>
        {{#each foundUsers}}
            <div class="foundUserCard">
                <img class="profile_picture" src="{{this.profilePicture}}">
                <p class="username"> {{username}}</p>
                <p class="email"> {{email}}</p>
            </div>
        {{/each}}
    {{/inline}}
{{/ layout}}