{{#> layout}}
    {{#*inline "content"}}

        <div style="color:#FF0000">{{error}}</div>
        <div class="cardSignUp">
            <form action="/users" method="POST">
                <input id="emailinput" type="text" name="email" placeholder="email@email.com">
                <div style="height:40px;">
                    <input style=" width: 100%" id="passwordinput" type="password" name="password" placeholder="password">
                    <i class="fas  fa-eye-slash" id="togglePassword" style="transform: translate(2100%, -185%);font-size: 15px; cursor: pointer;"></i>
                </div>
                <input id="usernameinput" type="text" name="username" placeholder="username">
                <input style="padding: 0;" id='submitbutton' type="submit" name="submit">
            </form>
        </div>

        <script>
            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#passwordinput');

            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);

                // toggle the eye slash icon and adjust the style
                const isOpen = togglePassword.classList.contains('fa-eye');
                if (isOpen) {
                    togglePassword.classList.remove('fa-eye');
                    togglePassword.classList.add('fa-eye-slash');
                    togglePassword.style.transform = 'translate(2100%, -185%)';// Reset the transformation
                } else {
                    togglePassword.classList.remove('fa-eye-slash');
                    togglePassword.classList.add('fa-eye');
                    togglePassword.style.transform = 'translate(2351%, -185%)';
                }
            });
        </script>
    {{/inline}}
{{/ layout}}