{{#> layout}}
    <div class="container">
        <form action="#" method="post" >
            <input type="text" name="email">
            <input type="password" name="password" >
            <input type="text" name="username">
            <!--<input type="file" name="photo">-->
            <!--CAPTCHA HERE -->
            <input type="submit" name="submit">


        </form>
    </div>

{{/ layout}}