{{#> layout}}
    {{#*inline "content"}}
        <div style="color:#FF0000">{{error}}</div>
        <div class="container">
            <form action="/users" method="POST">
                <input id="emailinput" type="text" name="email" placeholder="email@email.com">
                <input id="passwordinput" type="password" name="password" placeholder="password">
                <input id="usernameinput" type="text" name="username" placeholder="username">
                <!--<input type="file" name="photo">-->
                <!--CAPTCHA HERE -->
                <input id='submitbutton' type="submit" name="submit">
            </form>
        </div>
    {{/inline}}
{{/ layout}}