<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/Waveform.svg">
    <title>BelleMúsica</title>
</head>
<body>
    <nav>
        <div id="left">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="148" height="113" viewBox="0 0 148 113" fill="none">
                <path d="M40.7391 40.2174V71.5217C40.7391 72.5595 40.3269 73.5548 39.593 74.2887C38.8592 75.0225 37.8639 75.4348 36.8261 75.4348H32.913C31.8752 75.4348 30.8799 75.0225 30.1461 74.2887C29.4123 73.5548 29 72.5595 29 71.5217V40.2174C29 39.1796 29.4123 38.1843 30.1461 37.4505C30.8799 36.7166 31.8752 36.3043 32.913 36.3043H36.8261C37.8639 36.3043 38.8592 36.7166 39.593 37.4505C40.3269 38.1843 40.7391 39.1796 40.7391 40.2174ZM56.3913 5H52.4783C51.4405 5 50.4452 5.41227 49.7113 6.1461C48.9775 6.87994 48.5652 7.87524 48.5652 8.91304V102.826C48.5652 103.864 48.9775 104.859 49.7113 105.593C50.4452 106.327 51.4405 106.739 52.4783 106.739H56.3913C57.4291 106.739 58.4244 106.327 59.1582 105.593C59.8921 104.859 60.3043 103.864 60.3043 102.826V8.91304C60.3043 7.87524 59.8921 6.87994 59.1582 6.1461C58.4244 5.41227 57.4291 5 56.3913 5ZM75.9565 20.6522H72.0435C71.0057 20.6522 70.0104 21.0644 69.2765 21.7983C68.5427 22.5321 68.1304 23.5274 68.1304 24.5652V87.1739C68.1304 88.2117 68.5427 89.207 69.2765 89.9409C70.0104 90.6747 71.0057 91.087 72.0435 91.087H75.9565C76.9943 91.087 77.9896 90.6747 78.7235 89.9409C79.4573 89.207 79.8696 88.2117 79.8696 87.1739V24.5652C79.8696 23.5274 79.4573 22.5321 78.7235 21.7983C77.9896 21.0644 76.9943 20.6522 75.9565 20.6522ZM95.5217 36.3043H91.6087C90.5709 36.3043 89.5756 36.7166 88.8418 37.4505C88.1079 38.1843 87.6957 39.1796 87.6957 40.2174V71.5217C87.6957 72.5595 88.1079 73.5548 88.8418 74.2887C89.5756 75.0225 90.5709 75.4348 91.6087 75.4348H95.5217C96.5595 75.4348 97.5548 75.0225 98.2887 74.2887C99.0225 73.5548 99.4348 72.5595 99.4348 71.5217V40.2174C99.4348 39.1796 99.0225 38.1843 98.2887 37.4505C97.5548 36.7166 96.5595 36.3043 95.5217 36.3043ZM115.087 28.4783H111.174C110.136 28.4783 109.141 28.8905 108.407 29.6244C107.673 30.3582 107.261 31.3535 107.261 32.3913V79.3478C107.261 80.3856 107.673 81.3809 108.407 82.1148C109.141 82.8486 110.136 83.2609 111.174 83.2609H115.087C116.125 83.2609 117.12 82.8486 117.854 82.1148C118.588 81.3809 119 80.3856 119 79.3478V32.3913C119 31.3535 118.588 30.3582 117.854 29.6244C117.12 28.8905 116.125 28.4783 115.087 28.4783Z" fill="#E1D90F"/>
                </svg>
            </a>
        </div>
        <div id="right">
            <a href="#">Login</a>
            <a href="#">Sign-up</a>
        </div>
    </nav>

</body>
</html>