<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/Waveform.svg">
    <title>BelleMúsica</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
<nav>
    <div id="left">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="148" height="113" viewBox="0 0 148 113" fill="none">
                <path d="M40.7391 40.2174V71.5217C40.7391 72.5595 40.3269 73.5548 39.593 74.2887C38.8592 75.0225 37.8639 75.4348 36.8261 75.4348H32.913C31.8752 75.4348 30.8799 75.0225 30.1461 74.2887C29.4123 73.5548 29 72.5595 29 71.5217V40.2174C29 39.1796 29.4123 38.1843 30.1461 37.4505C30.8799 36.7166 31.8752 36.3043 32.913 36.3043H36.8261C37.8639 36.3043 38.8592 36.7166 39.593 37.4505C40.3269 38.1843 40.7391 39.1796 40.7391 40.2174ZM56.3913 5H52.4783C51.4405 5 50.4452 5.41227 49.7113 6.1461C48.9775 6.87994 48.5652 7.87524 48.5652 8.91304V102.826C48.5652 103.864 48.9775 104.859 49.7113 105.593C50.4452 106.327 51.4405 106.739 52.4783 106.739H56.3913C57.4291 106.739 58.4244 106.327 59.1582 105.593C59.8921 104.859 60.3043 103.864 60.3043 102.826V8.91304C60.3043 7.87524 59.8921 6.87994 59.1582 6.1461C58.4244 5.41227 57.4291 5 56.3913 5ZM75.9565 20.6522H72.0435C71.0057 20.6522 70.0104 21.0644 69.2765 21.7983C68.5427 22.5321 68.1304 23.5274 68.1304 24.5652V87.1739C68.1304 88.2117 68.5427 89.207 69.2765 89.9409C70.0104 90.6747 71.0057 91.087 72.0435 91.087H75.9565C76.9943 91.087 77.9896 90.6747 78.7235 89.9409C79.4573 89.207 79.8696 88.2117 79.8696 87.1739V24.5652C79.8696 23.5274 79.4573 22.5321 78.7235 21.7983C77.9896 21.0644 76.9943 20.6522 75.9565 20.6522ZM95.5217 36.3043H91.6087C90.5709 36.3043 89.5756 36.7166 88.8418 37.4505C88.1079 38.1843 87.6957 39.1796 87.6957 40.2174V71.5217C87.6957 72.5595 88.1079 73.5548 88.8418 74.2887C89.5756 75.0225 90.5709 75.4348 91.6087 75.4348H95.5217C96.5595 75.4348 97.5548 75.0225 98.2887 74.2887C99.0225 73.5548 99.4348 72.5595 99.4348 71.5217V40.2174C99.4348 39.1796 99.0225 38.1843 98.2887 37.4505C97.5548 36.7166 96.5595 36.3043 95.5217 36.3043ZM115.087 28.4783H111.174C110.136 28.4783 109.141 28.8905 108.407 29.6244C107.673 30.3582 107.261 31.3535 107.261 32.3913V79.3478C107.261 80.3856 107.673 81.3809 108.407 82.1148C109.141 82.8486 110.136 83.2609 111.174 83.2609H115.087C116.125 83.2609 117.12 82.8486 117.854 82.1148C118.588 81.3809 119 80.3856 119 79.3478V32.3913C119 31.3535 118.588 30.3582 117.854 29.6244C117.12 28.8905 116.125 28.4783 115.087 28.4783Z"
                      fill="#E1D90F"/>
            </svg>
        </a>
        <a href="/albums">
        <button id="albums" class="nav-btn">Albums</button>
        </a>
    </div>
    {{# if currentUser}}
        <div id="right">
            <p>@{{currentUser.username}}</p>
            <div id = "hoverEffect">
                <img id="profilePicture" src="{{currentUser.profilePicture}}" alt="User's profile picture">
                <div class="overImgText">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 3C13.4288 3 10.9154 3.76244 8.77759 5.1909C6.63975 6.61935 4.9735 8.64968 3.98956 11.0251C3.00563 13.4006 2.74818 16.0144 3.24979 18.5362C3.7514 21.0579 4.98953 23.3743 6.80761 25.1924C8.62569 27.0105 10.9421 28.2486 13.4638 28.7502C15.9856 29.2518 18.5994 28.9944 20.9749 28.0104C23.3503 27.0265 25.3806 25.3603 26.8091 23.2224C28.2376 21.0846 29 18.5712 29 16C28.9964 12.5533 27.6256 9.24882 25.1884 6.81163C22.7512 4.37445 19.4467 3.00364 16 3ZM9.26 24.6875C9.98342 23.5561 10.98 22.625 12.1579 21.9801C13.3358 21.3351 14.6571 20.9971 16 20.9971C17.3429 20.9971 18.6642 21.3351 19.8421 21.9801C21.02 22.625 22.0166 23.5561 22.74 24.6875C20.8129 26.1862 18.4413 26.9999 16 26.9999C13.5587 26.9999 11.1871 26.1862 9.26 24.6875ZM12 15C12 14.2089 12.2346 13.4355 12.6741 12.7777C13.1136 12.1199 13.7384 11.6072 14.4693 11.3045C15.2002 11.0017 16.0044 10.9225 16.7804 11.0769C17.5563 11.2312 18.269 11.6122 18.8284 12.1716C19.3878 12.731 19.7688 13.4437 19.9231 14.2196C20.0775 14.9956 19.9983 15.7998 19.6955 16.5307C19.3928 17.2616 18.8801 17.8864 18.2223 18.3259C17.5645 18.7654 16.7911 19 16 19C14.9391 19 13.9217 18.5786 13.1716 17.8284C12.4214 17.0783 12 16.0609 12 15ZM24.22 23.3013C23.1047 21.6851 21.5365 20.4348 19.7125 19.7075C20.6923 18.9358 21.4072 17.878 21.7579 16.6811C22.1086 15.4843 22.0776 14.2079 21.6693 13.0294C21.2609 11.851 20.4955 10.8291 19.4794 10.1059C18.4634 9.38262 17.2472 8.99397 16 8.99397C14.7528 8.99397 13.5366 9.38262 12.5206 10.1059C11.5045 10.8291 10.7391 11.851 10.3307 13.0294C9.92238 14.2079 9.89139 15.4843 10.2421 16.6811C10.5928 17.878 11.3077 18.9358 12.2875 19.7075C10.4635 20.4348 8.89529 21.6851 7.78 23.3013C6.37071 21.7165 5.44959 19.7581 5.12755 17.6619C4.80552 15.5657 5.09631 13.4211 5.96489 11.4864C6.83348 9.55163 8.24284 7.90922 10.0233 6.75692C11.8037 5.60462 13.8792 4.99156 16 4.99156C18.1208 4.99156 20.1963 5.60462 21.9767 6.75692C23.7572 7.90922 25.1665 9.55163 26.0351 11.4864C26.9037 13.4211 27.1945 15.5657 26.8724 17.6619C26.5504 19.7581 25.6293 21.7165 24.22 23.3013Z" fill="#BDBDBD"/>
                    </svg>
                </div>
            </div>
            <a href="/sessions/clear">
                <button id="signout" class="nav-btn">Sign-out</button>
            </a>
        </div>
    {{else}}
        <div id="right">
            <a href="/sessions/new">
                <button id="login-btn" class="nav-btn">Login</button>
            </a>
            <a href="/users/new">
                <button id="register-btn" class="nav-btn">Sign-up</button>
            </a>
        </div>
    {{/if}}
</nav>
{{>content}}
</body>
</html>