*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;

    --nav-bar-bg: #231F27;
    --highlight-color: #E1D90F;
    --btn-hover: #cfc712;
    --bg-pg-color: #E3E9F1;
    --light-text-color: #FFFFFF;

}
.hidden{
    visibility: hidden;
}

body{
    background: var(--bg-pg-color);
    font-size: 3.6rem;
    font-family: 'Lato', sans-serif;
}
nav {
    background: var(--nav-bar-bg);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 15rem;
    padding: 23px;
}

.nav-btn,
#submit_upload{
    width: 15rem;
    height: 6rem;
    font-size: 2.4rem;
    color: #FFFFFF;
    background: var(--highlight-color);
    border-radius: 12px;
    border: none;
}

.nav-btn:hover,
#submit_upload{
    background: var(--btn-hover) ;
}

#right{
    display: flex;
    gap: 4.5rem;
    align-items: center;
}

h1{
    margin-inline: auto;
    justify-content: center;
    display: flex;
    font-size: 3.6rem;
    padding: 3.6rem 0;

}

.albums{
    max-width: 80vw;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.album,
.followedUsers{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-text-color);
    border-radius: 12px;
    padding: 1.6rem 1rem;
}
.followedUsers{
    width: 15rem;
    height: 22rem;
}
.album {
    position: relative;
    width: 17rem;
    height: 27rem;

}

.album p,
.followedUsers p{
    font-size: 1.6rem;
}

.album img,
.followedUsers img{
    object-fit: contain;
    max-width: 13rem;
    border-radius: 12px;
}

.likeBTN {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#right p{
    color: white;
    font-size: 24px;

}

#right img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


.wrapper{
    height: 85vh;
    display: grid;
    grid-template-areas: "A C D"
    "B C D";
    grid-template-columns: .5fr 2fr 1fr;
    grid-column-gap: 2rem;
    padding: 2rem;
}

#profileCard,
#updateProfilePicture{
    background: var(--light-text-color);
    height: 330px;
    border-radius: 12px;
    display: flex;
    font-size: 2.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profileCard{
    grid-area: A;
    width: 250px;
}
#profileCard p {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

#profileCard img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}
#hoverEffect{
    position: relative;
}

#hoverEffect:hover #profilePicture{
    opacity: 0.3;
}

.overImgText{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hoverEffect:hover .overImgText{
    opacity: 1;
}


#updateProfilePicture{
    grid-area: B;
    width: 900px;
}

#modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

#photoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePictureInput{
    font-size: 2.4rem;
}

.closeBtn{
    position: absolute;
    top: 15px;
    right: 35px;
}

 #liked-albums{
     grid-area: C;
     display: flex;
     flex-wrap: wrap;
     gap: 2rem;
     background: var(--light-text-color);
     border-radius: 12px;
 }
 .friendsList{
     grid-area: D;
    background: var(--light-text-color);
    border-radius: 12px;
    padding: 1rem 2rem;
}
 .friendsList form{
     display: flex;
 }
 .friendsList button#SearchBtn{
     width: 36px;
     border-radius: 0 12px 12px 0;
     border-left: none;
     background: var(--highlight-color);
 }
.friendsList input{
    width: 37rem;
    height: 4rem;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 12px 0 0 12px;
}


.wrapper-landpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 900px;
    background: var(--light-text-color);
    border-radius: 12px;
    padding: 1rem 2rem;
    align-items: center;
}

#cardTitle {
    font-size: 24px;
}

#likedAlbums {
    width: 850px;
    height: 420px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 1rem 1.6rem;
}


.likedAlbumCard {
    width: 400px;
    display: grid;
    grid-template-areas: "A B B"
    "A C C";
}

.likedAlbumCard.albumPhoto{
    grid-area: A;
}
.likedAlbumCard.albumName{
    grid-area: B;
}

.likedAlbumCard.artistName{
    grid-area: C;
}

.container img {
    width: 60px;
}
.usersFound {
    height: 100vh;
    width: 80vw;
    margin: auto;
    padding: 2rem 0;
}
.foundUserCard{
    width: 150px;
    height: 220px;
    font-size: 24px;
    background: var(--light-text-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.foundUserCard .profile_picture_search{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid var(--highlight-color);
}

.foundUserCard .userNameAdEmail button{
    background: var(--highlight-color);
    border: none;
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 8px;
    cursor: pointer;
    color: var(--light-text-color);
}
.foundUserCard .userNameAdEmail button:hover{
    background: var(--btn-hover);
}

.cardSignUp,
.cardLogin{
    width: 60vw;
    height: 50vh;
    background: var(--light-text-color);
    margin: 6rem auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardSignUp form,
.cardLogin form {
    display: flex;
    width: 44rem;
    flex-direction: column;
    gap: 2rem;
}

.cardSignUp input,
.cardLogin input{
    height: 4rem;
    border-radius: 12px;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid var(--nav-bar-bg);
}

.cardSignUp #submitbutton,
.cardLogin #submit{
    background: var(--highlight-color);
    font-size: 2.4rem;
    color: var(--light-text-color);
}

